extends ./base.jade

append body
    - this.checkData();
    .container
        h1 Kunden
        .searchbar(style="display:flex")
            .input-group(style="flex:1;display:flex;width:auto;")
                input.form-control(type="text" style="display:block;width:auto;flex:1" onChange=this.search value=this.state.search||"")
                span.input-group-btn(style="display:inline-block;width:auto;")
                    button.btn.btn-default Suchen
            .btn-group(style="margin-left:10px")
                CreateContactButton(callback=this.create)
        table.table.table-striped.table-hover
            thead
                tr
                    th Name
                    th
            tbody
                each item in this.state.items
                    tr(onClick=this.edit(item))
                        td= (item.firstname?item.firstname+" ":"")+(item.lastname||"")
                        td
                            button.btn.btn-xs.btn-default.pull-right(onClick=this.delete(item))
                                i.glyphicon.glyphicon-trash
    if this.state.delete
        .modal-backdrop(style="bottom:0px;display:block").fade.in
        .modal(style="display:block").fade.in
            .modal-dialog
                .modal-content
                    .modal-header
                        h2 Kunden löschen
                    .modal-body= "Sind sie sicher, dass sie \""+this.state.delete.name+"\" löschen möchten?"
                    .modal-footer
                        button.btn.btn-default(onClick=this.cancelDelete) Abbrechen
                        button.btn.btn-primary(onClick=this.confirmDelete) Löschen
    if this.state.error
        .modal-backdrop(style="bottom:0px;display:block").fade.in
        .modal(style="display:block").fade.in
            .modal-dialog
                .modal-content
                    .modal-header
                        h2 Ups!
                    .modal-body                        
                        case this.state.error
                            when 601
                                .alert.alert-warning Dieser Kunde ist noch Objekten zugewiesen. 
                    .modal-footer
                        button.btn.btn-primary(onClick=this.dismiss) Ich verstehe
script.
    var client = require("../client.js");
    var Select = require("react-select");
    var CreateContactButton = require("./CreateContactButton.jade");
    
    exports.getNeededPermissions = function(){
        return ["customers_read"];
    }
    
    exports.checkData = function(){
        var self = this;
        if(!this.state.items){
            client.findCustomers({search:this.state.search},function(err,items){
                self.state.items = items;
                self.update();
            });
        }
    }
    
    exports.create = function(id){
        client.createCustomer(id,function(err){
            if(err) return;
            visit("/customers/"+id);
        });
    }

    exports.search = function(e){
        this.state.search = e.target.value;
        delete this.state.items;
        this.update();
    }
    
    exports.dismiss = function(){
        delete this.state.error;
        this.update();
    }



    exports.edit = function(item){
        return function(e){
            if(e.target.tagName == "I" || e.target.tagName == "BUTTON") return;
            visit("/customers/"+item._id)
        }        
    }

    exports.delete = function(item){
        return function(){
            this.state.delete = item;
            this.update();
        }.bind(this)
    }

    exports.cancelDelete = function(){
        delete this.state.delete;
        this.update();
    }
    exports.confirmDelete = function(){
        var self = this;
        var del = this.state.delete;
        delete this.state.delete;
        client.deleteCustomer(del._id,function(err){
            if(err){
                self.state.error = err.code;
            }else{
                delete self.state.items;
            }
            self.update();
        })
    }
