extends ./base.jade

append body
    - this.checkData();
    .container
        h2 Equipmentkategorien
            .btn-toolbar.pull-right
                button.btn.btn-default(onClick=this.finish)
                    i.glyphicon.glyphicon-chevron-left
                    |  Zurück
        
        table.table.table-striped.table-hover
            thead
                tr
                    th
                        | Name
                        button.btn.btn-primary.btn-xs.pull-right(onClick=this.addCategory)
                            i.glyphicon.glyphicon-plus
            tbody
                if this.props.categories
                    each category in this.props.categories
                        tr
                            td(onClick=this.edit(category))
                                = category.name
                                button.btn.btn-default.btn-xs.pull-right(onClick=this.delete(category))
                                    i.glyphicon.glyphicon-trash
    if this.props.category
        .modal(style="display:block").fade.in
            .modal-backdrop(style="bottom:0px;display:block").fade.in
            .modal-dialog
                .modal-content
                    .modal-header
                        h2= "Kategorie "+(this.props.category._id?"umbenennen":"erstellen")
                    .modal-body
                        .form-horizontal
                            .form-group
                                label.col-lg-2.control-label Name
                                .col-lg-10
                                    input.form-control(type="text" placeholder="Name" value=this.props.category.name onChange=this.onCategoryNameChange)
                    .modal-footer
                        button.btn.btn-default(onClick=this.cancel) Abbrechen
                        button.btn.btn-primary(onClick=this.save) Speichern
    if this.props.error
        .modal(style="display:block").fade.in
            .modal-backdrop(style="bottom:0px;display:block").fade.in
            .modal-dialog
                .modal-content
                    .modal-header
                        h2 Ups!
                    .modal-body                        
                        case this.props.error
                            when 601
                                .alert.alert-warning Diese Kategorie ist noch Objekten zugewiesen. 
                    .modal-footer
                        button.btn.btn-primary(onClick=this.dismiss) Ich verstehe
        
main.
    var client = require("../client.js");
    
    exports.checkData = function(){
        var self = this;
        if(!this.props.categories){
            client.getEquipmentCategories(function(err,categories){
                if(err) categories = [];
                this.props.categories = categories;
                this.update();
            }.bind(this))
        }
    }

    exports.addCategory = function(){
        this.props.category = {name:""};
        this.update();
    }
    
    exports.onCategoryNameChange = function(e){
        this.props.category.name = e.target.value;
        this.update();
    }
    
    exports.cancel = function(){
        delete this.props.category;
        this.update();
    }
    
    exports.edit = function(category){        
        return function(e){
            if(e.target.tagName == "I" || e.target.tagName == "BUTTON") return;
            this.props.category = category;
            this.update();
        }.bind(this);
    }
    
    exports.dismiss = function(){
        delete this.props.error;
        this.update();
    }
    exports.delete = function(category){
        return function(){
            client.deleteEquipmentCategory(category._id,function(err){
                if(err){
                    this.props.error = err.code;
                }else{
                    this.props.categories.splice(this.props.categories.indexOf(category),1);
                }
                this.update();
            }.bind(this))
        }.bind(this)
    }
    
    exports.save = function(){
        if(this.props.category._id){
            client.updateEquipmentCategory(this.props.category._id,this.props.category.name,function(err){
                delete this.props.category;
                this.update();
            }.bind(this))
        }else{
            client.createEquipmentCategory(this.props.category.name,function(err,id){
                this.props.categories.push({_id:id,name:this.props.category.name});
                delete this.props.category;
                this.update();
            }.bind(this))
        }
    }
    
    exports.finish = function(){
        back();
    }
