extends ./base.jade

append body
    if this.state.item && this.state.type
        .container
            h2
                = this.state.item.name+" "+this.state.item.id
                .btn-toolbar.pull-right
                    button.btn.btn-default(onClick=function(){this.cancel()}.bind(this))
                        i.glyphicon.glyphicon-chevron-left
                        |  Zurück
                    button.btn.btn-primary(onClick=function(){this.save()}.bind(this))
                        i.glyphicon.glyphicon-ok
                        |  Speichern
            .row
                .col-lg-3.col-md-4.col-sm-6.col-xs-12
                    div.text-center
                        ImageViewer(image="/api/equipment/"+this.state.item.type+"/image")
                        br
                        img(src="/api/barcode/EQ-"+this.state.item.type+"-"+this.state.item.id+"/"+(this.state.type.manufacturer?(this.state.type.manufacturer+" "):"")+this.state.item.name width="100%")
                .col-lg-9.col-md-8.col-sm-6.col-xs-12
                    h3 Daten
                    .form-horizontal
                        .form-group
                            label.col-lg-2.control-label Seriennummer
                            .col-lg-10
                                input.form-control(placeholder="Seriennummer" value=this.state.item.serialnumber||"" onChange=this.onSerialNumberChange)
                        .form-group
                            label.col-lg-2.control-label Kommentar
                            .col-lg-10
                                TextArea.form-control(placeholder="Kommentar" value=this.state.item.comment onChange=this.onCommentChange)
                    .row
                        .col-md-4.col-xs-6
                            h4 Aktueller Standort
                            if this.state.location
                                a(href="/customers/"+this.state.location._id)= (this.state.location.firstname?this.state.location.firstname+" ":"")+(this.state.location.lastname||"")
                            else
                                | Lager
                        .col-md-4.col-xs-6
                            h4 Case
                            if this.state.container
                                a(href="/equipment/"+this.state.container.type+"/"+this.state.container.id)= this.state.container.name+" "+this.state.container.id
                            else
                                | Keines
                        .col-md-4.col-xs-6
                            h4 Status
                            .badge OK
                    br
                    .row
                        .col-md-4.col-xs-6
                            h4 Letzte Wartung
                            | 12.12.2014
                        .col-md-4.col-xs-6
                            h4 Nächste Wartung
                            | 12.12.2015
            .row
                .col-xs-12
                    h3
                        | Log
                        .btn-toolbar.pull-right
                            button.btn.btn-primary
                                i.glyphicon.glyphicon-plus
                                |  Log hinzufügen
                    table.table.table-striped
                        thead
                            tr
                                th Zeit
                                th Ereignis
                        tbody
                            each log in this.state.logs
                                tr
                                    td= moment(log.time).format("llll")
                                    td
                                        case log.event
                                            when "added"
                                                | Objekt erfasst
                                            when "removed"
                                                | Objekt entfernt
            if this.state.type.contents
                .row
                    .col-xs-12
                        .pull-left
                            h3 Inhalt
                        .btn-toolbar.pull-right(style="marginTop:18px")
                            ScanButton.pull-left(onScan=this.handleScan supplier="own")
                            .btn-group.pull-left(style="marginLeft:10px")
                                div(className="btn "+(this.state.remove?"btn-primary":"btn-default") onClick=this.toggleMode)
                                    i.glyphicon.glyphicon-minus
                                div(className="btn "+(this.state.remove?"btn-default":"btn-primary") onClick=this.toggleMode)
                                    i.glyphicon.glyphicon-plus                                                            
                        table.table.table-striped.table-hover
                            thead
                                tr
                                    th ID
                                    th Name
                                    th Menge
                                    th Einzel IDs
                            tbody
                                each item, id in this.state.item.contents
                                    if item.newcount > 0
                                        tr
                                            td= id
                                            td= item.name
                                            td= item.newcount
                                            td
                                                each iid, i in item.newids
                                                    if i > 0
                                                        = ", "
                                                    a(href="/equipment/"+id+"/"+iid)= iid
script.
    var client = require("../client.js");
    var TextArea = require("react-textarea-autosize");
    var moment = require("moment");
    var ScanButton = require("./ScanButton.jade");
    var ImageViewer = require("./ImageViewer.jade");
    
    exports.getNeededPermissions = function(){
        return ["equipment_read"];
    }
    
    exports.componentDidMount = function(){
        if(!this.state.item) this.loadItem();
        if(!this.state.type) this.loadType();
    }
    
    exports.loadItem = function(){
        var self = this;
        client.getEquipment(this.props.params.type,this.props.params.id,function(err,data){
            if(err) return;
            self.state.item = data.item;
            self.state.logs = data.logs;
            self.state.location = data.location;
            self.state.container = data.container;
            for(var type in self.state.item.contents){
                self.state.item.contents[type].newcount = self.state.item.contents[type].count;
                if(self.state.item.contents[type].ids){
                    self.state.item.contents[type].newids = JSON.parse(JSON.stringify(self.state.item.contents[type].ids));
                }
            }
            self.update();
        });
    }
    
    exports.loadType = function(){
        client.getEquipmentType(this.props.params.type,function(err,data){
            if(err) return;
            this.state.type = data;
            this.update();
        }.bind(this));
    }
    
    exports.onSerialNumberChange = function(e){
        this.state.item.serialnumber = e.target.value;
        this.update();
    }
    
    exports.onCommentChange = function(e){
        this.state.item.comment = e.target.value;
        this.update();
    }

    exports.toggleMode = function(){
        if(this.state.remove){
            delete this.state.remove;
        }else{
            this.state.remove = true;
        }
        this.update();
    }
    
    exports.handleScan = function(code){
        if(!code.count) code.count = 1;
        if(this.state.remove){
            if(!this.state.item.contents[code.type]){
                this.playErrorSound();
                return;
            }
            if(code.item){
                var index = (this.state.item.contents[code.type].newids||[]).indexOf(code.item);
                if(index < 0){
                    this.playErrorSound();
                    return;
                }else{
                    this.state.item.contents[code.type].newids.splice(index,1);
                }
            }
            this.state.item.contents[code.type].newcount -= code.count;
            if(this.state.item.contents[code.type].newcount < 0){
                delete this.state.item.contents[code.type].newcount;
                delete this.state.item.contents[code.type].newids;
            }
            this.update();
        }else{
            if(this.state.type.contents instanceof Array){
                var allowed = this.state.type.contents.map(function(type){return type._id});
                if(allowed.indexOf(parseInt(code.type,10)) < 0) return this.playErrorSound();
            }
            if(code.item){
                client.getEquipmentContainer(code.type,code.item,function(err,container){
                    if(err) return this.playErrorSound();
                    if(this.state.item.contents[code.type] && this.state.item.contents[code.type].newids && this.state.item.contents[code.type].newids.indexOf(code.item) >= 0) return this.playErrorSound();
                    if(container && container != this.props.params.id) return this.playErrorSound();                    
                    this.continueAddingItems(code);
                }.bind(this))
            }else{
                client.getEquipmentTypeStock(code.type,true,function(err,count){
                    if(err) return this.playErrorSound();
                    count += this.state.item.contents[code.type]?(this.state.item.contents[code.type].count||0):0;
                    if(code.count > count) code.count = count;
                    this.continueAddingItems(code);
                }.bind(this))
            }
        }
    }
    
    exports.continueAddingItems = function(code){   
        if(!this.state.item.contents[code.type]){
            client.getEquipmentTypeName(code.type,function(err,name){
                if(err) return this.playErrorSound();
                this.state.item.contents[code.type] = {name:name};
                next.call(this);
            }.bind(this))
        }else{
            next.call(this);
        }
        function next(){
            this.state.item.contents[code.type].newcount = (this.state.item.contents[code.type].newcount||0)+code.count;
            if(code.item){
                if(!this.state.item.contents[code.type].newids) this.state.item.contents[code.type].newids = [];
                this.state.item.contents[code.type].newids.push(code.item);
            }
            this.update();
        };    
    }
    
    exports.playErrorSound = function(){
        new Audio("/public/audio/error.wav").play();
    }
    
    exports.cancel = function(){
        history.back();
    }

    exports.save = function(){    
        var contents = {};
        for(var type in this.state.item.contents){
            var t = this.state.item.contents[type];
            if(t.newcount){
                contents[type] = {count:t.newcount};
                if(t.newids && t.newids.length){
                    contents[type].ids = t.newids;
                }
            }
        }
    
        client.saveEquipment(this.state.item.type,this.state.item.id,{comment:this.state.item.comment,serialnumber:this.state.item.serialnumber||"",contents:contents},function(err){
            if(err) return true;
            history.back();
        });
    }
