extends ./base.jade

append body
    - this.checkData();
    .container
        h2 Equipmentkategorien
            .btn-toolbar.pull-right
                button.btn.btn-default(onClick=this.finish.bind(this))
                    i.glyphicon.glyphicon-chevron-left
                    |  Zurück
        
        table.table.table-striped.table-hover
            thead
                tr
                    th
                        | Name
                        button.btn.btn-primary.btn-xs.pull-right(onClick=this.addCategory.bind(this))
                            i.glyphicon.glyphicon-plus
            tbody
                if this.state.categories
                    each category in this.state.categories
                        tr
                            td(onClick=this.edit(category))
                                = category.name
                                button.btn.btn-default.btn-xs.pull-right(onClick=this.delete(category))
                                    i.glyphicon.glyphicon-trash
    if this.state.category
        Modal
            .modal-header
                h2= "Kategorie "+(this.state.category._id?"umbenennen":"erstellen")
            .modal-body
                .form-horizontal
                    .form-group
                        label.col-lg-2.control-label Name
                        .col-lg-10
                            input.form-control(type="text" placeholder="Name" value=this.state.category.name onChange=this.onCategoryNameChange.bind(this))
            .modal-footer
                button.btn.btn-default(onClick=this.cancel.bind(this)) Abbrechen
                button.btn.btn-primary(onClick=this.save.bind(this)) Speichern
    if this.state.error
        Modal
            .modal-header
                h2 Ups!
            .modal-body                        
                case this.state.error
                    when 400
                        .alert.alert-warning Diese Kategorie ist noch Objekten zugewiesen. 
            .modal-footer
                button.btn.btn-primary(onClick=this.dismiss.bind(this)) Ich verstehe
script.
    var client = require("../client.js");
    var Modal = require("./Modal.jade");
script(section="body").    
    getNeededPermissions(){
        return ["equipment_read"];
    }
    
    checkData(){
        var self = this;
        if(!this.state.categories){
            client.getEquipmentCategories(function(err,categories){
                if(err) categories = [];
                this.state.categories = categories;
                this.update();
            }.bind(this))
        }
    }

    addCategory(){
        this.state.category = {name:""};
        this.update();
    }
    
    onCategoryNameChange(e){
        this.state.category.name = e.target.value;
        this.update();
    }
    
    cancel(){
        delete this.state.category;
        this.update();
    }
    
    edit(category){        
        return function(e){
            if(e.target.tagName == "I" || e.target.tagName == "BUTTON") return;
            this.state.category = category;
            this.update();
        }.bind(this);
    }
    
    dismiss(){
        delete this.state.error;
        this.update();
    }
    delete(category){
        return function(){
            client.deleteEquipmentCategory(category._id,function(err){
                if(err){
                    this.state.error = err.code;
                }else{
                    this.state.categories.splice(this.state.categories.indexOf(category),1);
                }
                this.update();
            }.bind(this))
        }.bind(this)
    }
    
    save(){
        if(this.state.category._id){
            client.updateEquipmentCategory(this.state.category._id,this.state.category.name,function(err){
                delete this.state.category;
                this.update();
            }.bind(this))
        }else{
            client.createEquipmentCategory(this.state.category.name,function(err,id){
                this.state.categories.push({_id:id,name:this.state.category.name});
                delete this.state.category;
                this.update();
            }.bind(this))
        }
    }
    
    finish(){
        back();
    }
