extends ./base.jade

append body
    - this.checkData();
    if this.props.item
        .container
            h2 Equipment bearbeiten
                .btn-toolbar.pull-right
                    button.btn.btn-default(onClick=function(){this.cancel()}.bind(this))
                        i.glyphicon.glyphicon-chevron-left
                        |  Zurück
                    button.btn.btn-primary(onClick=function(){this.save()}.bind(this))
                        i.glyphicon.glyphicon-ok
                        |  Speichern
            .row
                .col-xs-12
                    h3 Daten
                    .form-horizontal
                        .form-group
                            label.col-lg-2.control-label Kommentar
                            .col-lg-10
                                TextArea.form-control(placeholder="Kommentar" value=this.props.item.comment onChange=this.onCommentChange)
            .row
                .col-xs-12
                    h3 Informationen
                .col-md-3.col-xs-6
                    h4 Status
                    .badge OK
                .col-md-3.col-xs-6
                    h4 Aktueller Standort
                    | Lager
                .col-md-3.col-xs-6
                    h4 Letzte Wartung
                    | 12.12.2014
                .col-md-3.col-xs-6
                    h4 Nächste Wartung
                    | 12.12.2015
            .row
                .col-xs-12
                    h3
                        | Log
                        .btn-toolbar.pull-right
                            button.btn.btn-primary
                                i.glyphicon.glyphicon-plus
                                |  Log hinzufügen
                    table.table.table-striped
                        thead
                            tr
                                th Zeit
                                th Ereignis
                        tbody
                            each log in this.props.logs
                                tr
                                    td= moment(log.time).format("llll")
                                    td
                                        case log.event
                                            when "added"
                                                | Objekt erfasst
                                            when "removed"
                                                | Objekt entfernt
            .row
                .col-xs-12
                    h3
                        | Inhalt
                        button.btn.btn-primary.pull-right
                            i.glyphicon.glyphicon-pencil
                            |  Inhalt bearbeiten

                    table.table.table-striped.table-hover
                        thead
                            tr
                                th ID
                                th Name
                                th Menge
                        tbody
                            each item in this.props.item.content
                                tr
                                    td= item.type
                                    td= item.name
                                    td= item.count||item.ids.length
main.
    var client = require("../client.js");
    var TextArea = require("react-textarea-autosize");
    var moment = require("moment");
    
    exports.getInitialState = function(){
        this.checkData();
        return {};
    }
    
    exports.checkData = function(){
        var self = this;
        if(this.props.item === undefined || !this.props.logs){
            client.getEquipment(this.props.params.type,this.props.params.id,function(err,data){
                if(err) return;
                self.props.item = data.item;
                self.props.logs = data.logs;
                self.update();
            });
        }
    }
    
    exports.onCommentChange = function(e){
        this.props.item.comment = e.target.value;
        this.update();
    }

    exports.cancel = function(){
        history.back();
    }

    exports.save = function(){
        client.saveEquipment(this.props.item.type,this.props.item.id,{comment:this.props.item.comment},function(err){
            if(err) return true;
            back(true);
        });
    }
