extends ./base.jade

append body
    - this.checkData();
    .container
        h2 Zumieten
        
        .row
            .col-xs-12
                h4 
                    | Anfragen
                    button.btn.btn-primary.pull-right(onClick=this.createRequest) Neu
                table.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th Zulieferer
                            th Projekte
                            th Erhalt
                            th Rückgabe
                            th Objekte
                    tbody
                        each item in this.props.items
                            if item.status == "requested"
                                +renderEntry(item)
        .row
            .col-xs-12
                h4 
                    | Buchungen
                    button.btn.btn-primary.pull-right(onClick=this.createBooking) Neu
                table.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th Zulieferer
                            th Projekte
                            th Erhalt
                            th Rückgabe
                            th Objekte
                    tbody
                        each item in this.props.items
                            if item.status == "booked"
                                +renderEntry(item)
        .row
            .col-xs-12
                h4 
                    | Mieten
                    button.btn.btn-primary.pull-right(onClick=this.createRental) Neu
                table.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th Zulieferer
                            th Projekte
                            th Erhalt
                            th Rückgabe
                            th Objekte
                    tbody
                        each item in this.props.items
                            if item.status == "received"
                                +renderEntry(item)
mixin renderEntry(item)
    tr(onClick=this.edit(item))
        td= item.name
        td= item.supplier
        td= item.projects.join(", ")
        td= moment(item.delivery).format("LLL")
        td= moment(item.return).format("LLL")
        td
            =item.objects
            button.btn.btn-xs.btn-default.pull-right(onClick=this.delete(item))
                i.glyphicon.glyphicon-trash
script.
    var client = require("../client.js");
    var moment = require("moment");
    
    exports.checkData = function(){
        var self = this;
        if(!this.props.items){
            client.findRentals({search:this.props.search},function(err,items){
                if(err) return;
                self.props.items = items;
                self.update();
            });
        }
    }
    
    exports.createRequest = function(){
        visit("/rentals/newrequest");
    }
    
    exports.createBooking = function(){
        visit("/rentals/newbooking");
    }
    
    exports.createRental = function(){
        visit("/rentals/newrental");
    }
    
    exports.edit = function(item){
        return function(e){
            if(e.target.tagName == "I" || e.target.tagName == "BUTTON") return;
            visit("/rentals/"+item._id);
        };    
    }
    
    exports.delete = function(item){
        var self = this;
        return function(e){
            client.deleteRental(item._id,function(err){
                delete self.props.items;
                self.update();
            })
        };
    }
