extends ./base.jade

append body
    - this.checkData();
    if this.state.data
        .container
            h2 Reservation
                .btn-toolbar.pull-right
                    button.btn.btn-default(onClick=this.cancel)
                        i.glyphicon.glyphicon-chevron-left
                        |  Zurück
                    button.btn.btn-primary(onClick=this.save)
                        i.glyphicon.glyphicon-ok
                        |  Speichern
            .row
                .col-xs-12
                    .pull-left
                        h3 Equipment
                    .btn-toolbar.pull-right(style="margin-top:18px")
                        .btn.btn-primary.pull-right(onClick=this.add) Hinzufügen
                        ScanButton.pull-left(onScan=this.handleScan ref="scanbutton" supplier="none")
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th ID
                                th Name
                                th Anzahl
                                th
                        tbody
                            each type in this.state.data.types
                                if this.state.data.reservation.items[type._id] !== undefined
                                    tr
                                        td= type._id
                                        td= this.state.data.types[type._id].name
                                        td(style="paddingTop:2px;paddingBottom:2px")
                                            input.form-control.input-sm(value=this.state.data.reservation.items[type._id]+"" style="max-width:100px" onChange=this.changeItem(type._id) onFocus=this.selectCount)
                                        td
                                            .btn.btn-default.btn-xs.pull-right(onClick=this.removeItem(type._id))
                                                i.glyphicon.glyphicon-trash
    if this.state.add
        .modal(style="display:block;overflowY:auto;position:fixed;height:100%").fade.in
            .modal-backdrop(style="height:100%;top:0px;display:block;position:fixed").fade.in
            .modal-dialog
                .modal-content(style="top:100px;bottom:100px;")
                    .modal-header
                        h2 Equipment hinzufügen
                    .modal-body(style="height:400px;overflowY:auto")
                        each category in this.state.data.categories
                            h4= category.name
                            table.table.table-striped
                                tbody
                                    each type in category.types                                
                                        if this.state.data.reservation.items[type] === undefined
                                            tr
                                                td(onClick=this.addItem(type))= this.state.data.types[type].name
                    .modal-footer
                        button.btn.btn-primary(onClick=this.done) Fertig
script.
    var client = require("../client.js");
    var ScanButton = require("./ScanButton.jade");
    
    exports.getNeededPermissions = function(){
        return ["projects_read"];
    }
    
    exports.checkData = function(){
        var self = this;
        if(this.state.data === undefined){
            client.getReservation(this.props.params.project,this.props.params.reservation,function(err,data){
                if(err) return;
                self.state.data = data;
                var itemlist = [];
                data.categories["undefined"] = {_id:"undefined",name:"Nicht kategorisiert"};
                for(var type in data.types){
                    var category = data.categories[data.types[type].category];
                    if(!category.types) category.types = [];
                    category.types.push(type);                    
                }
                self.update();
            });
        }
    }
    
    exports.add = function(){
        this.state.add = true;
        this.update();
    }
    
    exports.done = function(){
        delete this.state.add;
        this.update();
    }
    
    exports.addItem = function(type,count){
        return function(){
            this.state.data.reservation.items[type] = count||0;
            this.update();
        }.bind(this);
    }
    
    exports.handleScan = function(code){
        this.addItem(code.type,code.count)();        
    }
    
    exports.changeItem = function(type){
        return function(e){
            if(/^[0-9]+$/.test(e.target.value)) this.state.data.reservation.items[type] = parseInt(e.target.value,10);
            if(e.target.value.length == 0) this.state.data.reservation.items[type] = 0;            
            this.update();
        }.bind(this);
    }
    
    exports.selectCount = function(e){
        setTimeout(e.target.select.bind(e.target))
    }
    
    exports.removeItem = function(type){
        return function(){
            delete this.state.data.reservation.items[type];
            this.update();
        }.bind(this);
    }

    exports.cancel = function(){
        history.back();
    }

    exports.save = function(){
        client.updateReservation(this.props.params.project,this.props.params.reservation,this.state.data.reservation.items,function(err){
            if(err) return true;
            back(true);
        });
    }
