extends ./base.jade

append body
    .container
        h1 Zulieferer
        .searchbar(style="display:flex")
            .input-group(style="flex:1;display:flex;width:auto;")
                input.form-control(type="text" style="display:block;width:auto;flex:1" onChange=this.search value=this.props.search||"")
                span.input-group-btn(style="display:inline-block;width:auto;")
                    button.btn.btn-default Suchen
            .btn-group(style="margin-left:10px")
                CreateContactButton(callback=this.create)
        table.table.table-striped.table-hover
            thead
                tr
                    th Name
                    th
            tbody
                each item in this.props.items
                    tr(onClick=this.edit(item))
                        td= (item.firstname?item.firstname+" ":"")+(item.lastname||"")
                        td
                            button.btn.btn-xs.btn-default.pull-right(onClick=this.delete(item))
                                i.glyphicon.glyphicon-trash
    if this.props.delete
        .modal(style="display:block").fade.in
            .modal-backdrop(style="bottom:0px;display:block").fade.in
            .modal-dialog
                .modal-content
                    .modal-header
                        h2 Zulieferer löschen
                    .modal-body= "Sind sie sicher, dass sie \""+this.props.delete.name+"\" löschen möchten?"
                    .modal-footer
                        button.btn.btn-default(onClick=this.cancelDelete) Abbrechen
                        button.btn.btn-primary(onClick=this.confirmDelete) Löschen
    if this.props.error
        .modal(style="display:block").fade.in
            .modal-backdrop(style="bottom:0px;display:block").fade.in
            .modal-dialog
                .modal-content
                    .modal-header
                        h2 Ups!
                    .modal-body                        
                        case this.props.error
                            when 601
                                .alert.alert-warning Dieser Kunde ist noch Objekten zugewiesen. 
                    .modal-footer
                        button.btn.btn-primary(onClick=this.dismiss) Ich verstehe
script.
    var client = require("../client.js");
    var CreateContactButton = require("./CreateContactButton.jade");
    
    exports.getNeededPermissions = function(){
        return ["suppliers_read"];
    }
    
    exports.componentDidMount = function(){
        if(!this.props.items) this.findContacts();
    }
    
    exports.findContacts = function(){
        client.findSuppliers({search:this.props.search},function(err,items){
            this.props.items = items;
            this.update();
        }.bind(this));
    }

    exports.search = function(e){
        this.props.search = e.target.value;
        this.findContacts();
    }
    
    exports.dismiss = function(){
        delete this.props.error;
        this.update();
    }

    exports.create = function(id){
        client.createSupplier(id,function(err){
            if(err) return;
            visit("/suppliers/"+id);
        });
    }

    exports.edit = function(item){
        return function(e){
            if(e.target.tagName == "I" || e.target.tagName == "BUTTON") return;
            visit("/suppliers/"+item._id)
        }        
    }

    exports.delete = function(item){
        return function(){
            this.props.delete = item;
            this.update();
        }.bind(this)
    }

    exports.cancelDelete = function(){
        delete this.props.delete;
        this.update();
    }
    exports.confirmDelete = function(){
        var self = this;
        var del = this.props.delete;
        delete this.props.delete;
        client.deleteSupplier(del._id,function(err){
            if(err){
                self.props.error = err.code;
            }else{
                delete self.props.items;
            }
            self.update();
        })
    }
