extends base
append body
    style.
        .block-field{
            font-size:40px;
            height:100px;
            line-height:100px;
            padding:0px;
            padding-left:50px;
            padding-right:50px;
        }
        .block-btn{
            font-size:40px;
            height:100px;
            line-height:100px;
            padding:0px;
        }
    .container
        input.form-control.block-field(type="password" value=this.props.code)
        br
        .row
            .col-xs-4
                .col-xs-12.btn.btn-default.block-btn(onClick=this.clickNum(1)) 1
            .col-xs-4
                .col-xs-12.btn.btn-default.block-btn(onClick=this.clickNum(2)) 2
            .col-xs-4
                .col-xs-12.btn.btn-default.block-btn(onClick=this.clickNum(3)) 3
        br
        .row
            .col-xs-4
                .col-xs-12.btn.btn-default.block-btn(onClick=this.clickNum(4)) 3
            .col-xs-4
                .col-xs-12.btn.btn-default.block-btn(onClick=this.clickNum(5)) 4
            .col-xs-4
                .col-xs-12.btn.btn-default.block-btn(onClick=this.clickNum(6)) 5
        br
        .row
            .col-xs-4
                .col-xs-12.btn.btn-default.block-btn(onClick=this.clickNum(7)) 6
            .col-xs-4
                .col-xs-12.btn.btn-default.block-btn(onClick=this.clickNum(8)) 7
            .col-xs-4
                .col-xs-12.btn.btn-default.block-btn(onClick=this.clickNum(9)) 8
        br
        .row
            .col-xs-4
                .col-xs-12.btn.btn-default.block-btn(onClick=this.clear) CLEAR
            .col-xs-4
                .col-xs-12.btn.btn-default.block-btn(onClick=this.clickNum(0)) 0
            .col-xs-4
                .col-xs-12.btn.btn-default.block-btn ENTER
main.
    exports.getInitialState = function(){
        this.props.code = "";
        return {};
    }

    exports.clickNum = function(num){
        var self = this;
        return function(e){
            self.props.code += num;
            self.update();
        }
    }

    exports.clear = function(){
        this.props.code = "";
        this.update();
    }

    exports.login = function(){

    }
