extends ./base.jade

if this.props.user
    - this.checkData();
    .container
        h2 Benutzer bearbeiten
            .btn-toolbar.pull-right
                button.btn.btn-default(onClick=function(){this.cancel()}.bind(this))
                    i.glyphicon.glyphicon-chevron-left
                    |  Zurück
                button.btn.btn-primary(onClick=function(){this.save()}.bind(this))
                    i.glyphicon.glyphicon-ok
                    |  Speichern
        .row
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
                div.text-center
                    //img.img-responsive(src=this.getImagePath() onClick=this.choseImage)
                    //input(type="file" style="display:none" ref="image" onChange=this.applyImage)
            .col-lg-9.col-md-8.col-sm-6.col-xs-12
                h4 Benutzerinformationen
                .form-horizontal
                    .form-group
                        label.col-lg-2.control-label Username
                        .col-lg-10
                            input.form-control(type="text" placeholder="Name" value=this.props.user.username onChange=function(e){this.props.user.username = e.target.value; this.this.update()}.bind(this))
        .row
            h4 Berechtigungen
            .col-xs-12
                label
                    input(type="checkbox" value=this.props.user.permissions.users)
                    | Benutzer
                
main.
    var client = require("../client.js");
    exports.checkData = function(){
        var self = this;
        if(!this.props.user){
            client.getUser(this.props.params.id,function(err,user){
                if(err) return;
                self.props.user = user;
                self.update();
            })
        }
    }
    
    exports.cancel = function(){
        history.back();
    }

    exports.save = function(){
        client.saveUser(this.props.user._id,{
            username:this.props.user.username,
            permissions:this.props.user.permissions
        },function(err){
            if(err) return true;
            back(true);
        });
    }
