.pull-right
    DropdownButton(title="Hinzufügen" bsStyle="primary" onSelect=this.add.bind(this))
        MenuItem(eventKey="2") Von bestehendem Kontakt
        MenuItem(eventKey="1") Von neuem Kontakt
        
    if this.state.new
        Modal
            .modal-header
                h2 Von neuem Kontakt
            .modal-body
                .form-horizontal
                    .form-group
                        label.col-lg-2.control-label Typ
                        .col-lg-10
                            select.form-control(value=this.state.new.type onChange=this.setValue.bind(this,"type"))
                                option(value="person") Person
                                option(value="company") Firma
                                option(value="club") Verein
                    if this.state.new.type == "person"
                        .form-group
                            label.col-lg-2.control-label Name
                            .col-lg-10(style="display:flex")
                                input.form-control(type="text" placeholder="Vorname" style="flex:1;borderRight:0px;borderTopRightRadius:0px;borderBottomRightRadius:0px;" value=this.state.new.firstname onChange=this.setValue.bind(this,"firstname"))
                                input.form-control(type="text" placeholder="Nachname" style="flex:1;borderTopLeftRadius:0px;borderBottomLeftRadius:0px" value=this.state.new.lastname onChange=this.setValue.bind(this,"lastname"))
                    else
                        .form-group
                            label.col-lg-2.control-label Name
                            .col-lg-10
                                input.form-control(placeholder="Name" value=this.state.new.firstname onChange=this.setValue.bind(this,"firstname"))
            .modal-footer
                button.btn.btn-default(onClick=this.cancel.bind(this)) Abbrechen
                button.btn.btn-primary(onClick=this.create.bind(this)) Erfassen
    if this.state.existing
        Modal
            .modal-header
                h2 Von bestehendem Kontakt
            .modal-body
                .form-horizontal
                    .form-group
                        label.col-lg-2.control-label Kontakt
                        .col-lg-10
                            ContactBox(value=this.state.existing.contact onChange=this.onContactChanged.bind(this))
            .modal-footer
                button.btn.btn-default(onClick=this.cancel.bind(this)) Abbrechen
                button.btn.btn-primary(onClick=this.pick.bind(this)) Erfassen
script.
    var client = require("../client");
    var Select = require("react-select").Async;
    var DropdownButton = require("react-bootstrap/lib/DropdownButton");
    var MenuItem = require("react-bootstrap/lib/MenuItem");
    var Modal = require("./Modal");
    var ContactBox = require("./ContactBox");
script(section="body").
    constructor(props,context){
        super(props,context);
        this.state = {};
    }
        
    add(i){
        switch(i){
            case "1":
                this.state.new = {
                    type:"company",
                    firstname:""
                };
                break;
            case "2":
                this.state.existing = {contact:null}
                break;
        }
        this.forceUpdate();
    }
    
    cancel(){
        delete this.state.existing;
        delete this.state.new;
        this.forceUpdate();
    }

    
    setValue(name,target){
        (target||this.state.new)[name] = e.target.value;
        this.forceUpdate();
    }
    
    onContactChanged(id,name){
        this.state.existing.contact = id;
        this.state.existing.name = name;
        this.forceUpdate();
    }
    
    async create(){
        var id = await client.createContact(this.state.new);
        this.props.callback(id,(this.state.new.firstname?this.state.new.firstname+" ":"")+(this.state.new.lastname||""));
        this.cancel();
    }
    
    pick(){
        this.props.callback(this.state.existing.contact,this.state.existing.name);
        this.cancel();
    }
