extends ./base

append body
    - this.checkData();
    .container
        h1 Equipment
        .searchbar(style="display:flex")
            .input-group(style="flex:1;display:flex;width:auto;")
                input.form-control(type="text" style="display:block;width:auto;flex:1" onChange=this.search.bind(this) value=this.state.search||"")
                span.input-group-btn(style="display:inline-block;width:auto;")
                    button.btn.btn-default Suchen
            .btn-group(style="marginLeft:10px")
                button.btn.btn-primary(onClick=this.create.bind(this)) Erfassen
        table.table.table-striped.table-hover
            thead
                tr
                    th ID
                    th Name
                    th Hersteller
                    th.hidden-xs Kategorie
                    th.hidden-xs Anzahl
                    th.hidden-xs Grösse
                    th.hidden-xs Gewicht
                    th
            tbody
                if this.state.categories && this.state.items
                    each item in this.state.items
                        tr(onClick=this.edit(item))
                            td= item._id
                            td= item.name
                            td= item.manufacturer
                            td.hidden-xs= item.category?this.state.categoriesbyid[item.category]:"Keine"
                            td.hidden-xs= item.count
                            td.hidden-xs= item.length&&item.width&&item.height?(item.length+"x"+item.width+"x"+item.height):""
                            td.hidden-xs= item.weight
                            td
                                button.btn.btn-xs.btn-default.pull-right(onClick=this.delete(item))
                                    i.glyphicon.glyphicon-trash
    if this.state.create
        Modal
            .modal-header
                h2 Equipmenttyp anlegen
            .modal-body
                .form-horizontal
                    .form-group
                        label.col-lg-2.control-label Name
                        .col-lg-10
                            input.form-control(type="text" value=this.state.create.name onChange=this.validateCreateName.bind(this))
            .modal-footer
                button.btn.btn-default(onClick=this.cancelCreate.bind(this)) Abbrechen
                button.btn.btn-primary(onClick=this.confirmCreate.bind(this)) Erstellen
    if this.state.delete
        Modal
            .modal-header
                h2 Equipmenttyp löschen
            .modal-body= "Sind sie sicher, dass sie \""+this.state.delete.name+"\" löschen möchten?"
            .modal-footer
                button.btn.btn-default(onClick=this.cancelDelete.bind(this)) Abbrechen
                button.btn.btn-primary(onClick=this.confirmDelete.bind(this)) Löschen
script.
    var client = require("../client");
    var Modal = require("./Modal");
    var async = require("async");
script(section="body").
    constructor(props,context){
        super(props,context);
    }
    checkData(){
        var self = this;
        
        async.parallel([
            function(cb){
                if(self.state.items) return cb();
                client.findEquipmentTypes({search:self.state.search},function(err,items){
                    self.state.items = items;
                    cb(true);
                });
            },
            function(cb){
                if(self.state.categories) return cb();
                client.getEquipmentCategories(function(err,categories){
                    if(err) return cb();
                    self.state.categories = categories;
                    self.state.categoriesbyid = {};
                    categories.forEach(function(category){
                        self.state.categoriesbyid[category._id] = category.name;
                    })
                    cb(true);
                })
            }
        ],function(update){
            if(update) self.update();
        })      
    }
    
    getNeededPermissions(){
        return ["equipment_read"];
    }
    
    search(e){
        this.state.search = e.target.value;
        delete this.state.items;
        this.update();
    }

    componentDidMount(){
        this.checkData();
    }

    create(){
        var self = this;
        this.state.create = {_id:"",name:""};
        this.update();
        setTimeout(function(){
            self.refs.createid.focus();
        },1);
    }
    validateCreateName(e){
        this.state.create.name = e.target.value;
        this.update();
    }
    cancelCreate(){
        delete this.state.create;
        this.update();
    }
    confirmCreate(){
        var self = this;
        client.createEquipmentType(this.state.create,function(err,id){
            if(err) return;
            delete self.state.create;
            self.update();
            setTimeout(function(){
                visit("/equipment/"+id)
            },1)
        });
    }

    edit(item){
        return function(e){
            if(e.target.tagName == "I" || e.target.tagName == "BUTTON") return;
            visit("/equipment/"+item._id)
        }
    }
    
    delete(item){
        return function(){
            this.state.delete = item;
            this.update();
        }.bind(this)
    }
    
    cancelDelete(){
        delete this.state.delete;
        this.update();
    }
    confirmDelete(){
        var self = this;
        var del = this.state.delete;
        delete this.state.delete;
        client.deleteEquipmentType(del._id,function(err){
            delete self.state.items;
            self.update();            
        })
    }
