.container
    h3 Profil
    - var route = this.props.route
    ul.nav.nav-tabs
        li(className=route.name=="details"?"active":"")
            a(onClick=this.goTo.bind(this,"")) Details
        li(className=route.name=="password"?"active":"")
            a(onClick=this.goTo.bind(this,"/password")) Passwort
    case route.name
        when "details"
            Contact(contact=client.session.user._id  onContactSelected=this.props.onContactSelected)
        when "password"
            ChangePassword(contact=client.session.user._id)
script.
    var client = require("../client");
    var {Router} = require("react-route-system");
    var Contact = require("./contact");
    var ChangePassword = require("./changepassword");
    
    Component.extensionSections = [];
    Component.router = new Router()
        .add("details","")
        .add("password","/password")
            
script(section="body").    
    goTo(path){
        this.props.location.replace(path);
    }
        
